<form action="" id="uploadvideo-form" class="uploadvideo-form-div">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="video-upload-title" placeholder="Enter Title">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="video-upload-description" placeholder="Enter Description"
            cols="5" rows="5"></textarea>
    </div>
    <div class="mb-3">
        <label for="imgurl" class="form-label"> image URL</label>
        <input type="text" class="form-control" id="video-upload-imgurl" placeholder="Enter URL">
    </div>
    <div class="mb-3">
        <label for="url" class="form-label">Video URL</label>
        <input type="text" class="form-control" id="video-upload-url" placeholder="Enter URL">
    </div>
    <input type="submit" value="Add Video" class="button">
</form>
