<form action="" id="edit-livestream-form" class="live-stream-form-class">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="edit-live-stream-title" placeholder="Enter Title">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="edit-live-stream-description" placeholder="Enter Description"
            cols="5" rows="5"></textarea>
    </div>
    <div class="mb-3">
        <label for="url" class="form-label">Image URL</label>
        <input type="text" class="form-control" id="edit-live-stream-imgurl" placeholder="Enter URL">
    </div>
    <div class="mb-3">
        <label for="url" class="form-label">URL</label>
        <input type="text" class="form-control" id="edit-live-stream-url" placeholder="Enter URL">
    </div>
    <input type="submit" value="Update" class="button">
</form>