<footer class="">
    <div class="left">
        <img src="img/logo.png" class="mb-4" alt="">
        <p>Email Us: customer@streamit.com</p>
        <p>CUSTOMER SERVICES</p>
        <p>+(480)555-093</p>
    </div>
    <div class="midden">
        <h5 class="mb-4 text-white">Quick Links</h5>
        <p>About Us</p>
        <p>Blog</p>
        <p>Pricing Plan</p>
        <p>FAQ</p>
    </div>
    <div class="right">
        <h5 class="mb-4 text-white">Movies To Watch</h5>
        <p>Top Tending</p>
        <p>Recmmended</p>
        <p>Poppular</p>
    </div>
</footer>