.form-logo-container {
    background-color: #000;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1%;
    left: 40%;
    width: 30%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;


}

#register-form {
    color: #fff;
}

#register-form input {
    border-radius: 0px;
    border: 2px solid #333333 ;
    background-color: #333333;
    color: #fff;
}

#register-form input::placeholder {
    color: #836565c0;
}

#register-form .button {
    color: #fff;
    background-color: red;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.disable{
    background-color:#836565c0;
}