<div class="main-container">
    <div class="card-container">
        <div class="view-card">
            <div class="d-flex gap-5 mb-2 justify-content-between align-items-center"><h1 class="text-white fs-6">View</h1>
            <span class="bg-danger px-2 py-1 rounded"><i class="fa-solid fa-eye text-white "></i></span></div>
            <div class="d-flex gap-5 justify-content-between align-items-center">
                <h1 class="text-white fs-3">+24K</h1>
                <h1 class="text-white fs-6">35%</h1>
            </div>
        </div>
        <div class="rated-card">
            <div class="d-flex gap-5 mb-2 justify-content-between align-items-center"><h1 class="text-white fs-6">Rated This App</h1>
                <span class="bg-warning text-white px-2 py-1 rounded"><i class="fa-solid fa-star"></i> </span></div>
                <div class="d-flex gap-5 align-items-center justify-content-between">
                    <h1 class="text-white fs-3">+55K</h1>
                    <h1 class="text-white fs-6">35%</h1>
                </div>
        </div>
        <div class="download-card">
            <div class="d-flex gap-5 mb-2 justify-content-between align-items-center"><h1 class="text-white fs-6">Downloaded</h1>
                <span class="bg-info text-white px-2 py-1 rounded"><i class="fa-solid fa-eye text-white "></i></span></div>
                <div class="d-flex gap-5 align-items-center justify-content-between">
                    <h1 class="text-white fs-3">+1M</h1>
                    <h1 class="text-white fs-6">35%</h1>
                </div>
        </div>
        <div class="vistors-card">
            <div class="d-flex gap-5 mb-2 justify-content-between align-items-center"><h1 class="text-white fs-6">VISITORS</h1>
                <span class="bg-success text-success px-2 py-1 rounded"><i class="fa-solid fa-eye text-white "></i></span></div>
                <div class="d-flex gap-5 align-items-center justify-content-between">
                    <h1 class="text-white fs-3">+2M</h1>
                    <h1 class="text-white fs-6">35%</h1>
                </div>
        </div>
    </div>
</div>