<form action="" id="edit-video-form" class="uploadvideo-form-div">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="edit-video-title" placeholder="Enter Title">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="edit-video-description" placeholder="Enter Description"
            cols="5" rows="5"></textarea>
    </div>
    <div class="mb-3">
        <label for="url" class="form-label">IMAGE URL</label>
        <input type="text" class="form-control" id="edit-img-video-url" placeholder="Enter Image Url">
    </div>
    <div class="mb-3">
        <label for="url" class="form-label">URL</label>
        <input type="text" class="form-control" id="edit-video-url" placeholder="Enter URL">
    </div>
    <input type="submit" value="Update" class="button">
</form>